html,
body {
  /* width: 50%; */

  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-color: rgb(6, 0, 24);
  width: 100%;
  height: 600px;
  color: rgb(236, 120, 101);
  display: flex;
}

.container {
  width: 360px;
  flex-direction: column;
}

#nameField,
#dateField,
#changeField {
  width: 300px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#dateLabel,
#nameLabel,
#changeLabel {
  width: 300px;
  height: 46px;

  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo {
  width: 75px;
  height: 50px;
  border: 1px solid black;
  font-size: 30px;
  vertical-align: middle;
  background-color: blue;
}

#sortToDo {
  width: 75px;
  height: 50px;
  border: 1px solid black;
  font-size: 30px;
  vertical-align: middle;
  background-color: blue;
  margin-left: 70px;
}

#removeToDo {
  width: 125px;
  height: 50px;
  border: 1px solid black;
  font-size: 30px;
  vertical-align: middle;
  background-color: blue;
}

#editToDo {
  width: 97px;
  height: 50px;
  border: 1px solid black;
  font-size: 30px;
  vertical-align: middle;
  background-color: blue;
}

.toDos {
  /* margin: 25px; */
  max-width: 450px;
  align-self: flex-end;
  background-color: rgb(18, 3, 68);
  padding: 25px;
  margin-left: 70px;
}

.input {
  /* margin: 25px; */
  max-width: 450px;
  background-color: rgb(18, 3, 68);
  padding: 25px;
  margin-left: 70px;
}

p.tag {
  padding: 0;
  margin: 0;
}

#title {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  min-width: 50vw;
  margin: 1rem;
}
