html,body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 360px;
}

#nameField, #dateField,#changeField {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#dateLabel, #nameLabel, #changeLabel{
    width: 300px;
    height: 46px;
   
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    width: 75px;
    height: 50px;
    border: 1px solid black;
    font-size: 30px;
    vertical-align: middle;
}

#removeToDo{
    width: 125px;
    height: 50px;
    border: 1px solid black;
    font-size: 30px;
    vertical-align: middle;
}

#editToDo{
    width: 97px;
    height: 50px;
    border: 1px solid black;
    font-size: 30px;
    vertical-align: middle;
}

.toDos {
    margin-top: 25px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

p.tag{
    padding: 0;
    margin: 0;
}